<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Expense Prediction</title>
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<head>
    <img class="mx-auto d-block" src="https://www.bing.com/th/id/OIP.7wrZqqjUkSoO4cGRgcERHwHaHa?w=181&h=211&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" alt="" width="250px">
    <title>Expense Predictor</title>
</head>
<body>
    <div class="container">
    <h2 style="margin-bottom: 20px; text-align: center;">Knowledge</h2>
    <form action="" method="POST">
      
<p>I believe that God is the source of all truth. 
In the pursuit of knowledge. 
"True education means…
more than the pursual of a certain course of study. 
It means more than a preparation for the life that now is. 
It has to do with the whole being, and with the whole period of existence possible to man. 
It is the harmonious development of the physical, the mental, and the spiritual powers.”
       </p>
       <div style="margin-bottom: 20px; text-align: center;"><h3 >Jobs openning</h3></div>
<div class="container">
        {% for job in jobs %}
        {% include 'jobs.html' %}
        {% endfor %}
       </div>
    </form>
    </div>
</body>
</html>
